<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>American Airlines</title>

    <link rel="stylesheet" href="/../public/css/dashboard.css">
    
    <style>
    </style>
</head>
<body>
    <div class="phone-container">
        <div class="screen">
          <div class="screen-content">
            <div id="mains">
              <header>
                <img class="logo2" src="/../public/image/aa_logo_long.png" alt="logo">
              </header>
              <h3 class="flight-info">Flight Information</h3>
<h3 class="route">From: <span class="blue-text">JAX</span> to <span class="blue-text">DFW</span></h3>

              
              <div class="info-container">
                <div class="info-section">
                  <p>Hi Dave,<p>
                  <p>Welcome to AIDA - Your Flight Scheduling Companion </p>
                </div>
                
                <div class="info-section">
                  <!-- <h2>Profile</h2> -->
                  <img class="logo2" src="/../public/image/avi.png" style="width: 70px;height:70px" alt="logo">
                  <p>Account</p>
                </div>
              </div>
              <div class="time-container">
                <div class="time-section">
                  <h5>Departure Time</h5>
                  <p class="time">12:00</p>
                  <p class="time">PM</p>
                </div>
                <div class="time-section">
                  <h5>Estimated Wait</h5>
                  <p class="time">30</p>
                  <p class="time">Minutes</p>
                </div>
              </div>
              <div class="queue-number">
                <h2>Number in Queue</h2>
                <p class="circle">4</p>
              </div>
              <button class="refresh-button">Refresh</button>
            </div>
          </div>
        </div>
      </div>
</body>
</html>