<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ccbd4d6bc1.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link 
	  href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap" 
	  rel="stylesheet"
	>
    <link rel="stylesheet" href="/../public/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/../public/css/animate.min.css">
    <link rel="stylesheet" href="/../public/css/style.css">
    <title>American Airlines</title>
    <link rel="icon" href="/../public/css/image/aa_logo.png" />

    <meta property="og:title" content="American Airlines">
    <meta property="og:description" content="You Are Why We Fly.">
    <meta property="og:type" content="community">
    <meta property="og:url" content="https://american-air.ptfs.pw">
    <meta property="og:image" content="https://american-air.ptfs.pw/assets/img/banner.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="twitter:site" content="https://american-air.ptfs.pw">
    <meta name="twitter:title" content="american-air">
    <meta name="twitter:description" content="You Are Why We Fly.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:src" content="https://american-air.ptfs.pw/img/banner.png">
    <meta name="theme-color" content="#C30019">

  </head>
  <body>
    <header>
      <nav>
        <div class="container">
          <div>
            <a href="index.html">
            <img src="/../public/image/aa_logo_long.png" alt="Logo" class="logo">
            </a>
            <div class="menu">
              <ul>
                <li>
                  <a href="#about-us">About</a>
                </li>
                <li>
                  <a href="https://discord.gg/GNDNXa9cHm">Joining us</a>
                </li>
                <li>
                  <a href="https://discord.gg/GNDNXa9cHm">Contact</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="menu-btn">
            <i class="fas fa-bars"></i>
          </div>
        </div>
      </nav>
      <div class="content">
        <div>
          <h1>
            Are You <br />
            Ready For <br />
             Take-off with
            <span>aida?</span> 
          </h1>
          <p>At American Airlines, we believe in putting our extensive resources to good use by contributing to the communities we touch. </p>
          <a class="btn btn-primary" href="login">Log In</a>
          <a class="btn btn-secondary" href="">Join AAdvantage</a>
        </div>
      </div>
      <img class="plane wow animate__animated animate__fadeIn" src="/../public/image/landing.png" alt="">
    
	
	<footer>
	  <img class="logo2" src="/../public/image/aa_logo_long.png" alt="logo">
	  <div class="menu">
		  <ul>
			<li class="main-link"><a href="#">About Us</a></li>
      <li><a>At American, we believe in putting our extensive resources to good use by contributing to the communities we touch. Through our philanthropic efforts and local presence, we’re working to better the lives of those around us.      </a></li>
		  </ul>
		 
	
	  </div>
	  <div class="social-media">
	  <a href="https://www.facebook.com/AmericanAirlines/"><i class="fab fa-facebook"></i></a>
		<a href="https://twitter.com/AmericanAir"><i class="fab fa-twitter"></i></a>
		<a href="https://www.linkedin.com/company/american-airlines/"><i class="fab fa-linkedin"></i></a>
		<a href="https://discord.gg/GNDNXa9cHm"><i class="fab fa-discord"></i></a>
	  </div>
	  <div class="footer-bottom">
	    
		<div>
		  <a href="#"><img src="/../public/image/aa_logo_long.png" class="logo" alt="logo"></a>
		  <p>&#169; <span class="year"></span> 
		</div>
		<a href="#">Terms &amp; Conditions</a>
		</div>
	  </div>
	</footer>
	
    <!-- Swiper JS -->
    <script src="./assets/js/swiper-bundle.min.js"></script>
	<!-- Wow JS -->
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/main.js"></script>
  </body>
</html>

