<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>American Airlines - Login</title>
    <link href="/../public/css/style.css" rel="stylesheet">
    <link href="/../public/css/join.css" rel="stylesheet">
  </head>
  <body>
    <div class="login-container">
      <div class="content">
        <h1 class="blue-text">Log In</h1>
        <form class="login-form">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required>
          <label for="lastname">Last Name</label>
          <input type="text" id="lastname" name "lastname" required>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required>
          <button type="submit">Log In</button>
        </form>
      </div>
      <img class="plane wow animate__animated animate__fadeIn" src="/../public/img/landing.png" alt="">
    </div>
    <footer>
        <img class="logo2" src="/../public/image/aa_logo_long.png" alt="logo">
        <div class="menu">
            <ul>
              <li class="main-link"><a href="#">About Us</a></li>
        <li><a>At American, we believe in putting our extensive resources to good use by contributing to the communities we touch. Through our philanthropic efforts and local presence, we’re working to better the lives of those around us.      </a></li>
            </ul>
           
      
        </div>
        <div class="social-media">
        <a href="https://www.facebook.com/AmericanAirlines/"><i class="fab fa-facebook"></i></a>
          <a href="https://twitter.com/AmericanAir"><i class="fab fa-twitter"></i></a>
          <a href="https://www.linkedin.com/company/american-airlines/"><i class="fab fa-linkedin"></i></a>
          <a href="https://discord.gg/GNDNXa9cHm"><i class="fab fa-discord"></i></a>
        </div>
        <div class="footer-bottom">
          
          <div>
            <a href="#"><img src="/../public/image/aa_logo_long.png" class="logo" alt="logo"></a>
            <p>&#169; <span class="year"></span> American Airlines </p>
          </div>
          <a href="#">Terms &amp; Conditions</a>
          </div>
        </div>
      </footer>
  </body>
</html>