<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>American Airlines</title>
    <script src="https://cdn.jsdelivr.net/npm/@superbase/superbase-js@1.3.1/dist/superbase-js.iife.min.js"></script>
    <link rel="stylesheet" href="/../public/css/dashboard.css">
    
    <style>
    </style>
</head>
<body>
    <div class="phone-container">
        <div class="screen">
          <div class="screen-content">
            <div>
              <header>
                <img class="logo2" src="/../public/image/aa_logo_long.png" alt="logo">
              </header>
            <div id="main">
                <input class="styled-input" placeholder="Enter your confirmation #">
                <input class="styled-input"  placeholder="Enter your last name">
            </div>
            <!-- <a class="btn btn-primary" href="dashboard">Log In</a> -->
            <!-- <a href="dashboard" <button class="refresh-button">Login</button></a> -->
            <a href="dashboard" >
                <button class="refresh-button">Login</button>
              </a>
            </div>
          </div>
        </div>
      </div>
</body>
</html>